
.home_container {
    color: #000000;
    background-color: #ffffff;
    padding: 160px 0;
    width: 100%;
}

.home-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 40px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.home-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.home-img-wrapper {
    max-width: 555px;
}

.home-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
}

.input::placeholder {
    color: white;
}

.search-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-icon {
    margin-left: 12px;
    color: #ffffff;
    background: #e44949;
    box-shadow: 6px 6px 12px #C94040, -6px -6px 12px #ff5252;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.search-input {
    margin-left: 12px;
    color: #ffffff;
    background: #e44949;
    box-shadow: 6px 6px 12px #C94040, -6px -6px 12px #ff5252;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    

    .search-box {
        margin-top: 20px;
        margin-left: 0;
    }
}


@media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
}